/*! Responsividade cabeçaho */

@media (max-width: 900px){
    .header-content .menu{
        display: block;
    }
    .header-content nav ul{
        display: none;
    }
    .header-content input:checked ~ ul{
        display: block;
    }
    .header-content nav{
        position: absolute;
        right: 20px;
        top: 77px;
        z-index: 1;
    }
    .header-content nav ul{
        width: 200px;
        background-color: #fff;
        padding: 20px;
    }
    .header-content nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
    }
}


/*! Responsividade gerais */
@media(max-width:959px){
    .card p{
        font-size: 12px;
    }
}

@media(max-width: 768px){
    .container-conteudo-principal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .container-imagem-principal{
        width: 90%;
    }
    .conteudo-principal{
        width: 90%;
    }
    .container-imagem-principal img{
        content: url(../images/imagem-principal-03.jpg);
    }
}

@media(max-width: 540px){
    .container-imagem-principal{
        width: 100%;
    }
    .conteudo-principal{
        width: 90%;
    }
    .container-botao{
        justify-content: center;
        width: 100%;
    }
    .container-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: justify;
    }

    .cards-container{
        flex-direction: column;
    }
    .container-profissionais{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conteudo-textos{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .botao-profissionais-container{
        margin-bottom: 20px;
    }
    .container-cards-certificados{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

