/*! Reset*/
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", serif;
    /* font-family: "Poppins", serif; */
}

.container{
    width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    margin: 0 auto;
}

/*! Cabeçalho */
.telefone{
    justify-content: end; 
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
}
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background: #e5e5e5;
}
.top-bar div {
    display: flex;
    align-items: center;
}
.top-bar svg {
    width: 20px;
    height: 20px;
    color: #555;
}
.top-bar span {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.logo {
    position: relative;
    display: flex;
    align-items: center;
}
.logo-box {
    width: 92px;
    height: 92px;
    background: #7b1b1b;
}
.logo-text {
    position: absolute;
    left: 46px;
    display: flex;
    flex-direction: column;
}
.logo-text span:first-child {
    font-size: 30px;
    font-weight: bold;
    color: #C04908;
}
.logo-text span:last-child {
    font-size: 17px;
    color: #f1ae56;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}
nav a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}
nav .select{
    color: #9D2042;
}
nav a:hover {
    color: #9D2042;
}

/*! Hamburguer */
.header-content .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header-content nav label{
    display: flex;
    flex-direction: column;
}

.header-content .hamburguer{
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
.header-content .hamburguer:before,
.header-content .hamburguer:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}
.header-content .hamburguer:before{
    top: -10px;
}
.header-content .hamburguer:after{
    bottom: -10px;
}
.header-content input{
    display: none;
}

.header-content input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.header-content input:checked ~label .hamburguer:before{
    transform: rotate(90deg);
    top: 0;
}

.header-content input:checked ~label .hamburguer:after{
    transform: rotate(90deg);
    bottom: 0;
}


/*! Conteudo principal */
main{
    padding-top: 100px;
}
.container-conteudo-principal{
    display: flex;
    gap: 10px;
    padding-top: 80px;
    padding-bottom: 100px;
}
.container-imagem-principal{
    width: 50%;
}
.container-imagem-principal img{
    width: 100%;
}

.conteudo-principal{
    width: 50%;
    margin-top: 40px;
}
.conteudo-principal h1{
    margin-bottom: 12px;
    font-weight: 600;
    color: #272727;
}

.container-botao{
    padding: 25px;
    /* width: 50%; */
    display: flex;
}
.container-botao a{
    padding: 15px 20px;
    background-color: #FFCB29;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    transition: .3s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}
.container-botao a:hover{
    /* background-color: #f1f1f1; */
    /* background-color: #272727; */
    /* background-color: #F56620; */
    background-color: #7b1b1b;
    color: #e5e5e5;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    padding-top: 20px;
    width: 50%;
    max-width: 286px;
}
.card h3{
    margin-bottom: 5px;
    font-weight: 600;
}
.card p{
    font-size: 15px;
    line-height: 150%;
}

/*! Seção cartões imagens */
.cards-container {
    display: flex;
    gap: 37px;
    padding-bottom: 40px;
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;
}

.cartao {
    background: white;
    overflow: hidden;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, .18);
    flex: 1;
    height: 530px;
    max-height: 100%;
}

.cartao img {
    width: 100%;
    height: 243px; 
    object-fit: contain; 
}

.card-content {
    padding: 35px;
}

.cartao h3 {
    font-size: 23px;
    margin-bottom: 20px;
}
.fa-award{
    color: #C04908;
}

.cartao p {
    font-size: 15px;
    color: #555;
    padding-bottom: 19.5px;
    line-height: 1.5;
}
.cartao ul{
    list-style-position: inside;
}
.cartao li{
    font-size: 15px;
    color: #555;
    padding-bottom: 19.5px;
}

/*! Seção profissionais */
.container-profissionais{
    display: flex;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding: 50px 5px 80px;
}

.conteudo-textos{
    width: 50%;
}
.conteudo-textos h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.conteudo-textos p{
    font-size: 15px;
    margin-bottom: 19.5px;
}
.conteudo-textos .paragrafo-3-profssionais{
    padding-bottom: 19.5px;
}
.conteudo-textos a{
    padding: 15px 20px;
    background-color: #FFCB29;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.conteudo-e-imagem{
    width: 50%;
    border-top: 2px solid #7b1b1b;
    padding-top: 49px;
}

.container-imagem-profissionais{
    margin-bottom: 25px;
}

.container-imagem-profissionais img{
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.conteudo-e-imagem h5{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.conteudo-e-imagem p{
    font-size: 15px;
    text-align: center;
}

/*! Seção Profissionais certificados */
.banner-certificados{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url('../images/banner-03.jpg');
    background-size: cover;
    background-position: center;
}
.titulo-profissionais-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-profissionais-certificados h2{
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 600;
    color: #C04908;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.titulo-profissionais-certificados h3{
    font-size: 24px;
    margin-bottom: 40px;
    color: #f1ae56;
    font-weight: 600;
}
.container-profissionais-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
    padding-top: 70px;
    padding-bottom: 30px;
    gap: 37px;
}


.card-item{
    line-height: 150%;
    background-color: #fff;
    padding: 30px 0 25px;
    flex: 1;
    height: 530px;
    max-height: 100%;
    margin-bottom: 30px;
}
.caixa-imagem-prof{
    display: flex;
    justify-content: center;
}
.caixa-texto-card{
    padding: 35px;
}
.card-item ul{
    list-style-position: inside;
    margin-left: 12px;
}
.card-item ul li{
    margin-bottom: 15px;
}

.card-item p{
    font-size: 15px;
    margin-bottom: 19.5px;
}

.container-cards-certificados{
    display: flex;
    gap: 37px;
    width: 100%;
}

/*! Casa em ordem */
.casa-em-ordem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 40px; */
    text-align: center;
    background-color: #F9F9F9;
    padding-top: 90px;
    padding-bottom: 70px;
}
.casa-em-ordem h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.casa-em-ordem h6{
    font-size: 16.5px;
    margin-bottom: 20px;
}

/*! Seção Clientes */
.clientes{
    background-color: #E1E8EC;
    padding-top: 31px;
    padding-bottom: 75px;
}
.clientes-titulo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.clientes-titulo-principal h2{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    color: #272727;
}
.clientes-titulo-principal h5{
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #272727;
    font-weight: 400;
}

.card-clientes{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}
.card-item-cliente h4{
    font-size: 19.5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    color: #272727;
}
.card-item-cliente p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.card-item-cliente{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, .18);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 150%;
    flex: 1;
}
.container-estrelas{
    margin-bottom: 20px;
}

.card-item-cliente i{
    color: #FFCB29;
}

/*! Seção contato */
.secao-contato{
    background-color: #FFCB29;
}
.container-contato{
    padding-top: 50px;
}

.contatos-e-endereco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.container-contato h2{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000000ca;
    text-align: center;
}
.container-contato h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.container-contato .cidade, .telefone-contato, .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-contato strong{
    font-weight: 600;
}
.botao-contato{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.botao-contato a{
    padding: 25px 30px;
    color: #fff;
    background-color: #272727;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

/*! Rodapé */
footer{
    background-color: #272727;
    padding: 54px 0 2em;
}
.container-rodape{
    display: flex;
    color: #F9F9F9;
    flex-direction: column;
}
.logo-e-copyright{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    /* align-items: center; */
}
.informacoes-adicionais-rodape{
    display: flex;
    gap: 5px;
}
.informacoes-adicionais-rodape h4{
    font-size: 18px;
    margin-bottom: 18px;
}
.informacoes-adicionais-rodape p{
    font-size: 15px;
    margin-bottom: 19.5px;
}

.horarios{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.item-texto-rodape{
    flex: 1;
}

.container-redes-sociais{
    display: flex;
    padding: 20px;
}
.container-redes-sociais ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: auto;
    gap: 30px;
}
.container-redes-sociais ul li a i{
    font-size: 40px;
    color: #f1ae56;
}
.container-redes-sociais ul li a i{
    font-size: 40px;
    color: #f1ae56;
    transition: .5s;
}
.container-redes-sociais ul li a:hover i{
    /* color: #9D2042; */
    color: #7b1b1b;
}